@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

/* --------------RESEt-------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid lime !important; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* COLOUR PALETTE:  */
  --COLOR-ONE: #f07575;
  --COLOR-TWO: #ecc2c2;
  --COLOR-THREE: #f5d5d5;
  --COLOR-FOUR: #eca3a3;
  --COLOR-FIVE: #f7b3b3;
  --COLOR-SIX: #833434;
  --COLOR-SEVEN: #333;

  --COLOR-TEXT: #4e2020;
  --COLOR-TEXT2: #fff;
}

.dark-mode {
  --COLOR-ONE: #5a99e2;
  --COLOR-TWO: #97cceb;
  --COLOR-THREE: #a3e8f1;
  --COLOR-FOUR: #a3cbec;
  --COLOR-FIVE: #c5ebe2;
  --COLOR-SIX: #7e7cec;
  --COLOR-SEVEN: #333333;
}

.green-mode {
  --COLOR-ONE: #80e25a;
  --COLOR-TWO: #44865d;
  --COLOR-THREE: #79b47e;
  --COLOR-FOUR: #17e44b;
  --COLOR-FIVE: #58975b;
  --COLOR-SIX: #6ac57e;
  --COLOR-SEVEN: #17a71e;
}

/* --- FONT PALETTE |||  */

:root {
  --FONT-ONE: Arial, sans-serif;
  --FONT-TWO: 'Times New Roman', serif;
  --FONT-THREE: 'Mynerve', cursive;
  --FONT-FOUR: 'Merriweather', serif;
  --FONT-FIVE: 'Yuji Boku', serif;
}


/* || UTILITY CLASSES */

body {
  font-family: var(--FONT-FOUR);
 
  min-height: 100vh; 
  
  
}

h1 {
    text-decoration: underline;
    text-align: center;
}

 /* |||| Recipe 1 */

 .recipe1 {
    padding: 2rem; 
    background: linear-gradient(to top right, var(--COLOR-FOUR), var(--COLOR-SIX)) ;
 }



  /* |||| Recipe 2 */

  .recipe2 {
    padding: 2rem; 
    background: linear-gradient(to top right, var(--COLOR-SEVEN), var(--COLOR-THREE)) ;
    
 }


